name: Archive Branch

on:
  push:
    branches:
      - main

jobs:
  create_archive_pr:
    runs-on: ubuntu-latest

    env: 
      GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set Default Branch
        run: |
          gh repo set-default adachi-team/docs
          
      - name: Create Archive PR
        run: |
          gh pr create --base archive --head main --title "Archive PR" --body "This is an archive PR created automatically after merging to main branch."
